# Nome do arquivo Excel que será lido
EXCEL_FILENAME=planilha.xlsx
# Pasta onde os arquivos de entrada ficam
INPUT_FOLDER=Entrada
# Pasta onde os relatórios serão gerados
OUTPUT_FOLDER=Saida
# Número da planilha (sheet) a ser utilizada
# Pode ser o índice (ex: 0, 1, 2) ou o nome da planilha
SELECTED_SHEET=2